.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);

    display: none;
    align-items: center;
    justify-content: center;
}

.modal.active {
    display: flex;
}

.modal-window {
    background-color: #fff;
    width: 65%;
    height: 80%;
    position: relative;
    padding: 50px;
}

.close-btn {
    position: absolute;
    top: 3%;
    right: 3%;
}

#output, #img-output {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.img-item {
    width: 32%;
    height: 500px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
}